.bar-chart,
.vertical-chart,
.scatterplot {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  padding: 0;
  margin: 0;
}
.bar-chart ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  min-height: 100px;
}
.bar-chart ul li[data-cssplot-size="0"] {
  height: 0%;
}
.bar-chart ul li[data-cssplot-size="1"] {
  height: 1%;
}
.bar-chart ul li[data-cssplot-size="2"] {
  height: 2%;
}
.bar-chart ul li[data-cssplot-size="3"] {
  height: 3%;
}
.bar-chart ul li[data-cssplot-size="4"] {
  height: 4%;
}
.bar-chart ul li[data-cssplot-size="5"] {
  height: 5%;
}
.bar-chart ul li[data-cssplot-size="6"] {
  height: 6%;
}
.bar-chart ul li[data-cssplot-size="7"] {
  height: 7%;
}
.bar-chart ul li[data-cssplot-size="8"] {
  height: 8%;
}
.bar-chart ul li[data-cssplot-size="9"] {
  height: 9%;
}
.bar-chart ul li[data-cssplot-size="10"] {
  height: 10%;
}
.bar-chart ul li[data-cssplot-size="11"] {
  height: 11%;
}
.bar-chart ul li[data-cssplot-size="12"] {
  height: 12%;
}
.bar-chart ul li[data-cssplot-size="13"] {
  height: 13%;
}
.bar-chart ul li[data-cssplot-size="14"] {
  height: 14%;
}
.bar-chart ul li[data-cssplot-size="15"] {
  height: 15%;
}
.bar-chart ul li[data-cssplot-size="16"] {
  height: 16%;
}
.bar-chart ul li[data-cssplot-size="17"] {
  height: 17%;
}
.bar-chart ul li[data-cssplot-size="18"] {
  height: 18%;
}
.bar-chart ul li[data-cssplot-size="19"] {
  height: 19%;
}
.bar-chart ul li[data-cssplot-size="20"] {
  height: 20%;
}
.bar-chart ul li[data-cssplot-size="21"] {
  height: 21%;
}
.bar-chart ul li[data-cssplot-size="22"] {
  height: 22%;
}
.bar-chart ul li[data-cssplot-size="23"] {
  height: 23%;
}
.bar-chart ul li[data-cssplot-size="24"] {
  height: 24%;
}
.bar-chart ul li[data-cssplot-size="25"] {
  height: 25%;
}
.bar-chart ul li[data-cssplot-size="26"] {
  height: 26%;
}
.bar-chart ul li[data-cssplot-size="27"] {
  height: 27%;
}
.bar-chart ul li[data-cssplot-size="28"] {
  height: 28%;
}
.bar-chart ul li[data-cssplot-size="29"] {
  height: 29%;
}
.bar-chart ul li[data-cssplot-size="30"] {
  height: 30%;
}
.bar-chart ul li[data-cssplot-size="31"] {
  height: 31%;
}
.bar-chart ul li[data-cssplot-size="32"] {
  height: 32%;
}
.bar-chart ul li[data-cssplot-size="33"] {
  height: 33%;
}
.bar-chart ul li[data-cssplot-size="34"] {
  height: 34%;
}
.bar-chart ul li[data-cssplot-size="35"] {
  height: 35%;
}
.bar-chart ul li[data-cssplot-size="36"] {
  height: 36%;
}
.bar-chart ul li[data-cssplot-size="37"] {
  height: 37%;
}
.bar-chart ul li[data-cssplot-size="38"] {
  height: 38%;
}
.bar-chart ul li[data-cssplot-size="39"] {
  height: 39%;
}
.bar-chart ul li[data-cssplot-size="40"] {
  height: 40%;
}
.bar-chart ul li[data-cssplot-size="41"] {
  height: 41%;
}
.bar-chart ul li[data-cssplot-size="42"] {
  height: 42%;
}
.bar-chart ul li[data-cssplot-size="43"] {
  height: 43%;
}
.bar-chart ul li[data-cssplot-size="44"] {
  height: 44%;
}
.bar-chart ul li[data-cssplot-size="45"] {
  height: 45%;
}
.bar-chart ul li[data-cssplot-size="46"] {
  height: 46%;
}
.bar-chart ul li[data-cssplot-size="47"] {
  height: 47%;
}
.bar-chart ul li[data-cssplot-size="48"] {
  height: 48%;
}
.bar-chart ul li[data-cssplot-size="49"] {
  height: 49%;
}
.bar-chart ul li[data-cssplot-size="50"] {
  height: 50%;
}
.bar-chart ul li[data-cssplot-size="51"] {
  height: 51%;
}
.bar-chart ul li[data-cssplot-size="52"] {
  height: 52%;
}
.bar-chart ul li[data-cssplot-size="53"] {
  height: 53%;
}
.bar-chart ul li[data-cssplot-size="54"] {
  height: 54%;
}
.bar-chart ul li[data-cssplot-size="55"] {
  height: 55%;
}
.bar-chart ul li[data-cssplot-size="56"] {
  height: 56%;
}
.bar-chart ul li[data-cssplot-size="57"] {
  height: 57%;
}
.bar-chart ul li[data-cssplot-size="58"] {
  height: 58%;
}
.bar-chart ul li[data-cssplot-size="59"] {
  height: 59%;
}
.bar-chart ul li[data-cssplot-size="60"] {
  height: 60%;
}
.bar-chart ul li[data-cssplot-size="61"] {
  height: 61%;
}
.bar-chart ul li[data-cssplot-size="62"] {
  height: 62%;
}
.bar-chart ul li[data-cssplot-size="63"] {
  height: 63%;
}
.bar-chart ul li[data-cssplot-size="64"] {
  height: 64%;
}
.bar-chart ul li[data-cssplot-size="65"] {
  height: 65%;
}
.bar-chart ul li[data-cssplot-size="66"] {
  height: 66%;
}
.bar-chart ul li[data-cssplot-size="67"] {
  height: 67%;
}
.bar-chart ul li[data-cssplot-size="68"] {
  height: 68%;
}
.bar-chart ul li[data-cssplot-size="69"] {
  height: 69%;
}
.bar-chart ul li[data-cssplot-size="70"] {
  height: 70%;
}
.bar-chart ul li[data-cssplot-size="71"] {
  height: 71%;
}
.bar-chart ul li[data-cssplot-size="72"] {
  height: 72%;
}
.bar-chart ul li[data-cssplot-size="73"] {
  height: 73%;
}
.bar-chart ul li[data-cssplot-size="74"] {
  height: 74%;
}
.bar-chart ul li[data-cssplot-size="75"] {
  height: 75%;
}
.bar-chart ul li[data-cssplot-size="76"] {
  height: 76%;
}
.bar-chart ul li[data-cssplot-size="77"] {
  height: 77%;
}
.bar-chart ul li[data-cssplot-size="78"] {
  height: 78%;
}
.bar-chart ul li[data-cssplot-size="79"] {
  height: 79%;
}
.bar-chart ul li[data-cssplot-size="80"] {
  height: 80%;
}
.bar-chart ul li[data-cssplot-size="81"] {
  height: 81%;
}
.bar-chart ul li[data-cssplot-size="82"] {
  height: 82%;
}
.bar-chart ul li[data-cssplot-size="83"] {
  height: 83%;
}
.bar-chart ul li[data-cssplot-size="84"] {
  height: 84%;
}
.bar-chart ul li[data-cssplot-size="85"] {
  height: 85%;
}
.bar-chart ul li[data-cssplot-size="86"] {
  height: 86%;
}
.bar-chart ul li[data-cssplot-size="87"] {
  height: 87%;
}
.bar-chart ul li[data-cssplot-size="88"] {
  height: 88%;
}
.bar-chart ul li[data-cssplot-size="89"] {
  height: 89%;
}
.bar-chart ul li[data-cssplot-size="90"] {
  height: 90%;
}
.bar-chart ul li[data-cssplot-size="91"] {
  height: 91%;
}
.bar-chart ul li[data-cssplot-size="92"] {
  height: 92%;
}
.bar-chart ul li[data-cssplot-size="93"] {
  height: 93%;
}
.bar-chart ul li[data-cssplot-size="94"] {
  height: 94%;
}
.bar-chart ul li[data-cssplot-size="95"] {
  height: 95%;
}
.bar-chart ul li[data-cssplot-size="96"] {
  height: 96%;
}
.bar-chart ul li[data-cssplot-size="97"] {
  height: 97%;
}
.bar-chart ul li[data-cssplot-size="98"] {
  height: 98%;
}
.bar-chart ul li[data-cssplot-size="99"] {
  height: 99%;
}
.bar-chart ul li[data-cssplot-size="100"] {
  height: 100%;
}
.bar-chart ul li {
  flex-grow: 1;
  align-self: flex-end;
}
.bar-chart ul li,
.vertical-chart ul li {
  background: #3498db;
  color: #FFFFFF;
  list-style: none;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.vertical-chart {
  clear: both;
}
.vertical-chart ul {
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
}
.vertical-chart ul li[data-cssplot-size="0"] {
  width: 0%;
}
.vertical-chart ul li[data-cssplot-size="1"] {
  width: 1%;
}
.vertical-chart ul li[data-cssplot-size="2"] {
  width: 2%;
}
.vertical-chart ul li[data-cssplot-size="3"] {
  width: 3%;
}
.vertical-chart ul li[data-cssplot-size="4"] {
  width: 4%;
}
.vertical-chart ul li[data-cssplot-size="5"] {
  width: 5%;
}
.vertical-chart ul li[data-cssplot-size="6"] {
  width: 6%;
}
.vertical-chart ul li[data-cssplot-size="7"] {
  width: 7%;
}
.vertical-chart ul li[data-cssplot-size="8"] {
  width: 8%;
}
.vertical-chart ul li[data-cssplot-size="9"] {
  width: 9%;
}
.vertical-chart ul li[data-cssplot-size="10"] {
  width: 10%;
}
.vertical-chart ul li[data-cssplot-size="11"] {
  width: 11%;
}
.vertical-chart ul li[data-cssplot-size="12"] {
  width: 12%;
}
.vertical-chart ul li[data-cssplot-size="13"] {
  width: 13%;
}
.vertical-chart ul li[data-cssplot-size="14"] {
  width: 14%;
}
.vertical-chart ul li[data-cssplot-size="15"] {
  width: 15%;
}
.vertical-chart ul li[data-cssplot-size="16"] {
  width: 16%;
}
.vertical-chart ul li[data-cssplot-size="17"] {
  width: 17%;
}
.vertical-chart ul li[data-cssplot-size="18"] {
  width: 18%;
}
.vertical-chart ul li[data-cssplot-size="19"] {
  width: 19%;
}
.vertical-chart ul li[data-cssplot-size="20"] {
  width: 20%;
}
.vertical-chart ul li[data-cssplot-size="21"] {
  width: 21%;
}
.vertical-chart ul li[data-cssplot-size="22"] {
  width: 22%;
}
.vertical-chart ul li[data-cssplot-size="23"] {
  width: 23%;
}
.vertical-chart ul li[data-cssplot-size="24"] {
  width: 24%;
}
.vertical-chart ul li[data-cssplot-size="25"] {
  width: 25%;
}
.vertical-chart ul li[data-cssplot-size="26"] {
  width: 26%;
}
.vertical-chart ul li[data-cssplot-size="27"] {
  width: 27%;
}
.vertical-chart ul li[data-cssplot-size="28"] {
  width: 28%;
}
.vertical-chart ul li[data-cssplot-size="29"] {
  width: 29%;
}
.vertical-chart ul li[data-cssplot-size="30"] {
  width: 30%;
}
.vertical-chart ul li[data-cssplot-size="31"] {
  width: 31%;
}
.vertical-chart ul li[data-cssplot-size="32"] {
  width: 32%;
}
.vertical-chart ul li[data-cssplot-size="33"] {
  width: 33%;
}
.vertical-chart ul li[data-cssplot-size="34"] {
  width: 34%;
}
.vertical-chart ul li[data-cssplot-size="35"] {
  width: 35%;
}
.vertical-chart ul li[data-cssplot-size="36"] {
  width: 36%;
}
.vertical-chart ul li[data-cssplot-size="37"] {
  width: 37%;
}
.vertical-chart ul li[data-cssplot-size="38"] {
  width: 38%;
}
.vertical-chart ul li[data-cssplot-size="39"] {
  width: 39%;
}
.vertical-chart ul li[data-cssplot-size="40"] {
  width: 40%;
}
.vertical-chart ul li[data-cssplot-size="41"] {
  width: 41%;
}
.vertical-chart ul li[data-cssplot-size="42"] {
  width: 42%;
}
.vertical-chart ul li[data-cssplot-size="43"] {
  width: 43%;
}
.vertical-chart ul li[data-cssplot-size="44"] {
  width: 44%;
}
.vertical-chart ul li[data-cssplot-size="45"] {
  width: 45%;
}
.vertical-chart ul li[data-cssplot-size="46"] {
  width: 46%;
}
.vertical-chart ul li[data-cssplot-size="47"] {
  width: 47%;
}
.vertical-chart ul li[data-cssplot-size="48"] {
  width: 48%;
}
.vertical-chart ul li[data-cssplot-size="49"] {
  width: 49%;
}
.vertical-chart ul li[data-cssplot-size="50"] {
  width: 50%;
}
.vertical-chart ul li[data-cssplot-size="51"] {
  width: 51%;
}
.vertical-chart ul li[data-cssplot-size="52"] {
  width: 52%;
}
.vertical-chart ul li[data-cssplot-size="53"] {
  width: 53%;
}
.vertical-chart ul li[data-cssplot-size="54"] {
  width: 54%;
}
.vertical-chart ul li[data-cssplot-size="55"] {
  width: 55%;
}
.vertical-chart ul li[data-cssplot-size="56"] {
  width: 56%;
}
.vertical-chart ul li[data-cssplot-size="57"] {
  width: 57%;
}
.vertical-chart ul li[data-cssplot-size="58"] {
  width: 58%;
}
.vertical-chart ul li[data-cssplot-size="59"] {
  width: 59%;
}
.vertical-chart ul li[data-cssplot-size="60"] {
  width: 60%;
}
.vertical-chart ul li[data-cssplot-size="61"] {
  width: 61%;
}
.vertical-chart ul li[data-cssplot-size="62"] {
  width: 62%;
}
.vertical-chart ul li[data-cssplot-size="63"] {
  width: 63%;
}
.vertical-chart ul li[data-cssplot-size="64"] {
  width: 64%;
}
.vertical-chart ul li[data-cssplot-size="65"] {
  width: 65%;
}
.vertical-chart ul li[data-cssplot-size="66"] {
  width: 66%;
}
.vertical-chart ul li[data-cssplot-size="67"] {
  width: 67%;
}
.vertical-chart ul li[data-cssplot-size="68"] {
  width: 68%;
}
.vertical-chart ul li[data-cssplot-size="69"] {
  width: 69%;
}
.vertical-chart ul li[data-cssplot-size="70"] {
  width: 70%;
}
.vertical-chart ul li[data-cssplot-size="71"] {
  width: 71%;
}
.vertical-chart ul li[data-cssplot-size="72"] {
  width: 72%;
}
.vertical-chart ul li[data-cssplot-size="73"] {
  width: 73%;
}
.vertical-chart ul li[data-cssplot-size="74"] {
  width: 74%;
}
.vertical-chart ul li[data-cssplot-size="75"] {
  width: 75%;
}
.vertical-chart ul li[data-cssplot-size="76"] {
  width: 76%;
}
.vertical-chart ul li[data-cssplot-size="77"] {
  width: 77%;
}
.vertical-chart ul li[data-cssplot-size="78"] {
  width: 78%;
}
.vertical-chart ul li[data-cssplot-size="79"] {
  width: 79%;
}
.vertical-chart ul li[data-cssplot-size="80"] {
  width: 80%;
}
.vertical-chart ul li[data-cssplot-size="81"] {
  width: 81%;
}
.vertical-chart ul li[data-cssplot-size="82"] {
  width: 82%;
}
.vertical-chart ul li[data-cssplot-size="83"] {
  width: 83%;
}
.vertical-chart ul li[data-cssplot-size="84"] {
  width: 84%;
}
.vertical-chart ul li[data-cssplot-size="85"] {
  width: 85%;
}
.vertical-chart ul li[data-cssplot-size="86"] {
  width: 86%;
}
.vertical-chart ul li[data-cssplot-size="87"] {
  width: 87%;
}
.vertical-chart ul li[data-cssplot-size="88"] {
  width: 88%;
}
.vertical-chart ul li[data-cssplot-size="89"] {
  width: 89%;
}
.vertical-chart ul li[data-cssplot-size="90"] {
  width: 90%;
}
.vertical-chart ul li[data-cssplot-size="91"] {
  width: 91%;
}
.vertical-chart ul li[data-cssplot-size="92"] {
  width: 92%;
}
.vertical-chart ul li[data-cssplot-size="93"] {
  width: 93%;
}
.vertical-chart ul li[data-cssplot-size="94"] {
  width: 94%;
}
.vertical-chart ul li[data-cssplot-size="95"] {
  width: 95%;
}
.vertical-chart ul li[data-cssplot-size="96"] {
  width: 96%;
}
.vertical-chart ul li[data-cssplot-size="97"] {
  width: 97%;
}
.vertical-chart ul li[data-cssplot-size="98"] {
  width: 98%;
}
.vertical-chart ul li[data-cssplot-size="99"] {
  width: 99%;
}
.vertical-chart ul li[data-cssplot-size="100"] {
  width: 100%;
}
.scatterplot ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.scatterplot ul li[data-cssplot-x="0"] {
  left: 0%;
}
.scatterplot ul li[data-cssplot-x="1"] {
  left: 1%;
}
.scatterplot ul li[data-cssplot-x="2"] {
  left: 2%;
}
.scatterplot ul li[data-cssplot-x="3"] {
  left: 3%;
}
.scatterplot ul li[data-cssplot-x="4"] {
  left: 4%;
}
.scatterplot ul li[data-cssplot-x="5"] {
  left: 5%;
}
.scatterplot ul li[data-cssplot-x="6"] {
  left: 6%;
}
.scatterplot ul li[data-cssplot-x="7"] {
  left: 7%;
}
.scatterplot ul li[data-cssplot-x="8"] {
  left: 8%;
}
.scatterplot ul li[data-cssplot-x="9"] {
  left: 9%;
}
.scatterplot ul li[data-cssplot-x="10"] {
  left: 10%;
}
.scatterplot ul li[data-cssplot-x="11"] {
  left: 11%;
}
.scatterplot ul li[data-cssplot-x="12"] {
  left: 12%;
}
.scatterplot ul li[data-cssplot-x="13"] {
  left: 13%;
}
.scatterplot ul li[data-cssplot-x="14"] {
  left: 14%;
}
.scatterplot ul li[data-cssplot-x="15"] {
  left: 15%;
}
.scatterplot ul li[data-cssplot-x="16"] {
  left: 16%;
}
.scatterplot ul li[data-cssplot-x="17"] {
  left: 17%;
}
.scatterplot ul li[data-cssplot-x="18"] {
  left: 18%;
}
.scatterplot ul li[data-cssplot-x="19"] {
  left: 19%;
}
.scatterplot ul li[data-cssplot-x="20"] {
  left: 20%;
}
.scatterplot ul li[data-cssplot-x="21"] {
  left: 21%;
}
.scatterplot ul li[data-cssplot-x="22"] {
  left: 22%;
}
.scatterplot ul li[data-cssplot-x="23"] {
  left: 23%;
}
.scatterplot ul li[data-cssplot-x="24"] {
  left: 24%;
}
.scatterplot ul li[data-cssplot-x="25"] {
  left: 25%;
}
.scatterplot ul li[data-cssplot-x="26"] {
  left: 26%;
}
.scatterplot ul li[data-cssplot-x="27"] {
  left: 27%;
}
.scatterplot ul li[data-cssplot-x="28"] {
  left: 28%;
}
.scatterplot ul li[data-cssplot-x="29"] {
  left: 29%;
}
.scatterplot ul li[data-cssplot-x="30"] {
  left: 30%;
}
.scatterplot ul li[data-cssplot-x="31"] {
  left: 31%;
}
.scatterplot ul li[data-cssplot-x="32"] {
  left: 32%;
}
.scatterplot ul li[data-cssplot-x="33"] {
  left: 33%;
}
.scatterplot ul li[data-cssplot-x="34"] {
  left: 34%;
}
.scatterplot ul li[data-cssplot-x="35"] {
  left: 35%;
}
.scatterplot ul li[data-cssplot-x="36"] {
  left: 36%;
}
.scatterplot ul li[data-cssplot-x="37"] {
  left: 37%;
}
.scatterplot ul li[data-cssplot-x="38"] {
  left: 38%;
}
.scatterplot ul li[data-cssplot-x="39"] {
  left: 39%;
}
.scatterplot ul li[data-cssplot-x="40"] {
  left: 40%;
}
.scatterplot ul li[data-cssplot-x="41"] {
  left: 41%;
}
.scatterplot ul li[data-cssplot-x="42"] {
  left: 42%;
}
.scatterplot ul li[data-cssplot-x="43"] {
  left: 43%;
}
.scatterplot ul li[data-cssplot-x="44"] {
  left: 44%;
}
.scatterplot ul li[data-cssplot-x="45"] {
  left: 45%;
}
.scatterplot ul li[data-cssplot-x="46"] {
  left: 46%;
}
.scatterplot ul li[data-cssplot-x="47"] {
  left: 47%;
}
.scatterplot ul li[data-cssplot-x="48"] {
  left: 48%;
}
.scatterplot ul li[data-cssplot-x="49"] {
  left: 49%;
}
.scatterplot ul li[data-cssplot-x="50"] {
  left: 50%;
}
.scatterplot ul li[data-cssplot-x="51"] {
  left: 51%;
}
.scatterplot ul li[data-cssplot-x="52"] {
  left: 52%;
}
.scatterplot ul li[data-cssplot-x="53"] {
  left: 53%;
}
.scatterplot ul li[data-cssplot-x="54"] {
  left: 54%;
}
.scatterplot ul li[data-cssplot-x="55"] {
  left: 55%;
}
.scatterplot ul li[data-cssplot-x="56"] {
  left: 56%;
}
.scatterplot ul li[data-cssplot-x="57"] {
  left: 57%;
}
.scatterplot ul li[data-cssplot-x="58"] {
  left: 58%;
}
.scatterplot ul li[data-cssplot-x="59"] {
  left: 59%;
}
.scatterplot ul li[data-cssplot-x="60"] {
  left: 60%;
}
.scatterplot ul li[data-cssplot-x="61"] {
  left: 61%;
}
.scatterplot ul li[data-cssplot-x="62"] {
  left: 62%;
}
.scatterplot ul li[data-cssplot-x="63"] {
  left: 63%;
}
.scatterplot ul li[data-cssplot-x="64"] {
  left: 64%;
}
.scatterplot ul li[data-cssplot-x="65"] {
  left: 65%;
}
.scatterplot ul li[data-cssplot-x="66"] {
  left: 66%;
}
.scatterplot ul li[data-cssplot-x="67"] {
  left: 67%;
}
.scatterplot ul li[data-cssplot-x="68"] {
  left: 68%;
}
.scatterplot ul li[data-cssplot-x="69"] {
  left: 69%;
}
.scatterplot ul li[data-cssplot-x="70"] {
  left: 70%;
}
.scatterplot ul li[data-cssplot-x="71"] {
  left: 71%;
}
.scatterplot ul li[data-cssplot-x="72"] {
  left: 72%;
}
.scatterplot ul li[data-cssplot-x="73"] {
  left: 73%;
}
.scatterplot ul li[data-cssplot-x="74"] {
  left: 74%;
}
.scatterplot ul li[data-cssplot-x="75"] {
  left: 75%;
}
.scatterplot ul li[data-cssplot-x="76"] {
  left: 76%;
}
.scatterplot ul li[data-cssplot-x="77"] {
  left: 77%;
}
.scatterplot ul li[data-cssplot-x="78"] {
  left: 78%;
}
.scatterplot ul li[data-cssplot-x="79"] {
  left: 79%;
}
.scatterplot ul li[data-cssplot-x="80"] {
  left: 80%;
}
.scatterplot ul li[data-cssplot-x="81"] {
  left: 81%;
}
.scatterplot ul li[data-cssplot-x="82"] {
  left: 82%;
}
.scatterplot ul li[data-cssplot-x="83"] {
  left: 83%;
}
.scatterplot ul li[data-cssplot-x="84"] {
  left: 84%;
}
.scatterplot ul li[data-cssplot-x="85"] {
  left: 85%;
}
.scatterplot ul li[data-cssplot-x="86"] {
  left: 86%;
}
.scatterplot ul li[data-cssplot-x="87"] {
  left: 87%;
}
.scatterplot ul li[data-cssplot-x="88"] {
  left: 88%;
}
.scatterplot ul li[data-cssplot-x="89"] {
  left: 89%;
}
.scatterplot ul li[data-cssplot-x="90"] {
  left: 90%;
}
.scatterplot ul li[data-cssplot-x="91"] {
  left: 91%;
}
.scatterplot ul li[data-cssplot-x="92"] {
  left: 92%;
}
.scatterplot ul li[data-cssplot-x="93"] {
  left: 93%;
}
.scatterplot ul li[data-cssplot-x="94"] {
  left: 94%;
}
.scatterplot ul li[data-cssplot-x="95"] {
  left: 95%;
}
.scatterplot ul li[data-cssplot-x="96"] {
  left: 96%;
}
.scatterplot ul li[data-cssplot-x="97"] {
  left: 97%;
}
.scatterplot ul li[data-cssplot-x="98"] {
  left: 98%;
}
.scatterplot ul li[data-cssplot-x="99"] {
  left: 99%;
}
.scatterplot ul li[data-cssplot-x="100"] {
  left: 100%;
}
.scatterplot ul li[data-cssplot-y="0"] {
  bottom: 0%;
}
.scatterplot ul li[data-cssplot-y="1"] {
  bottom: 1%;
}
.scatterplot ul li[data-cssplot-y="2"] {
  bottom: 2%;
}
.scatterplot ul li[data-cssplot-y="3"] {
  bottom: 3%;
}
.scatterplot ul li[data-cssplot-y="4"] {
  bottom: 4%;
}
.scatterplot ul li[data-cssplot-y="5"] {
  bottom: 5%;
}
.scatterplot ul li[data-cssplot-y="6"] {
  bottom: 6%;
}
.scatterplot ul li[data-cssplot-y="7"] {
  bottom: 7%;
}
.scatterplot ul li[data-cssplot-y="8"] {
  bottom: 8%;
}
.scatterplot ul li[data-cssplot-y="9"] {
  bottom: 9%;
}
.scatterplot ul li[data-cssplot-y="10"] {
  bottom: 10%;
}
.scatterplot ul li[data-cssplot-y="11"] {
  bottom: 11%;
}
.scatterplot ul li[data-cssplot-y="12"] {
  bottom: 12%;
}
.scatterplot ul li[data-cssplot-y="13"] {
  bottom: 13%;
}
.scatterplot ul li[data-cssplot-y="14"] {
  bottom: 14%;
}
.scatterplot ul li[data-cssplot-y="15"] {
  bottom: 15%;
}
.scatterplot ul li[data-cssplot-y="16"] {
  bottom: 16%;
}
.scatterplot ul li[data-cssplot-y="17"] {
  bottom: 17%;
}
.scatterplot ul li[data-cssplot-y="18"] {
  bottom: 18%;
}
.scatterplot ul li[data-cssplot-y="19"] {
  bottom: 19%;
}
.scatterplot ul li[data-cssplot-y="20"] {
  bottom: 20%;
}
.scatterplot ul li[data-cssplot-y="21"] {
  bottom: 21%;
}
.scatterplot ul li[data-cssplot-y="22"] {
  bottom: 22%;
}
.scatterplot ul li[data-cssplot-y="23"] {
  bottom: 23%;
}
.scatterplot ul li[data-cssplot-y="24"] {
  bottom: 24%;
}
.scatterplot ul li[data-cssplot-y="25"] {
  bottom: 25%;
}
.scatterplot ul li[data-cssplot-y="26"] {
  bottom: 26%;
}
.scatterplot ul li[data-cssplot-y="27"] {
  bottom: 27%;
}
.scatterplot ul li[data-cssplot-y="28"] {
  bottom: 28%;
}
.scatterplot ul li[data-cssplot-y="29"] {
  bottom: 29%;
}
.scatterplot ul li[data-cssplot-y="30"] {
  bottom: 30%;
}
.scatterplot ul li[data-cssplot-y="31"] {
  bottom: 31%;
}
.scatterplot ul li[data-cssplot-y="32"] {
  bottom: 32%;
}
.scatterplot ul li[data-cssplot-y="33"] {
  bottom: 33%;
}
.scatterplot ul li[data-cssplot-y="34"] {
  bottom: 34%;
}
.scatterplot ul li[data-cssplot-y="35"] {
  bottom: 35%;
}
.scatterplot ul li[data-cssplot-y="36"] {
  bottom: 36%;
}
.scatterplot ul li[data-cssplot-y="37"] {
  bottom: 37%;
}
.scatterplot ul li[data-cssplot-y="38"] {
  bottom: 38%;
}
.scatterplot ul li[data-cssplot-y="39"] {
  bottom: 39%;
}
.scatterplot ul li[data-cssplot-y="40"] {
  bottom: 40%;
}
.scatterplot ul li[data-cssplot-y="41"] {
  bottom: 41%;
}
.scatterplot ul li[data-cssplot-y="42"] {
  bottom: 42%;
}
.scatterplot ul li[data-cssplot-y="43"] {
  bottom: 43%;
}
.scatterplot ul li[data-cssplot-y="44"] {
  bottom: 44%;
}
.scatterplot ul li[data-cssplot-y="45"] {
  bottom: 45%;
}
.scatterplot ul li[data-cssplot-y="46"] {
  bottom: 46%;
}
.scatterplot ul li[data-cssplot-y="47"] {
  bottom: 47%;
}
.scatterplot ul li[data-cssplot-y="48"] {
  bottom: 48%;
}
.scatterplot ul li[data-cssplot-y="49"] {
  bottom: 49%;
}
.scatterplot ul li[data-cssplot-y="50"] {
  bottom: 50%;
}
.scatterplot ul li[data-cssplot-y="51"] {
  bottom: 51%;
}
.scatterplot ul li[data-cssplot-y="52"] {
  bottom: 52%;
}
.scatterplot ul li[data-cssplot-y="53"] {
  bottom: 53%;
}
.scatterplot ul li[data-cssplot-y="54"] {
  bottom: 54%;
}
.scatterplot ul li[data-cssplot-y="55"] {
  bottom: 55%;
}
.scatterplot ul li[data-cssplot-y="56"] {
  bottom: 56%;
}
.scatterplot ul li[data-cssplot-y="57"] {
  bottom: 57%;
}
.scatterplot ul li[data-cssplot-y="58"] {
  bottom: 58%;
}
.scatterplot ul li[data-cssplot-y="59"] {
  bottom: 59%;
}
.scatterplot ul li[data-cssplot-y="60"] {
  bottom: 60%;
}
.scatterplot ul li[data-cssplot-y="61"] {
  bottom: 61%;
}
.scatterplot ul li[data-cssplot-y="62"] {
  bottom: 62%;
}
.scatterplot ul li[data-cssplot-y="63"] {
  bottom: 63%;
}
.scatterplot ul li[data-cssplot-y="64"] {
  bottom: 64%;
}
.scatterplot ul li[data-cssplot-y="65"] {
  bottom: 65%;
}
.scatterplot ul li[data-cssplot-y="66"] {
  bottom: 66%;
}
.scatterplot ul li[data-cssplot-y="67"] {
  bottom: 67%;
}
.scatterplot ul li[data-cssplot-y="68"] {
  bottom: 68%;
}
.scatterplot ul li[data-cssplot-y="69"] {
  bottom: 69%;
}
.scatterplot ul li[data-cssplot-y="70"] {
  bottom: 70%;
}
.scatterplot ul li[data-cssplot-y="71"] {
  bottom: 71%;
}
.scatterplot ul li[data-cssplot-y="72"] {
  bottom: 72%;
}
.scatterplot ul li[data-cssplot-y="73"] {
  bottom: 73%;
}
.scatterplot ul li[data-cssplot-y="74"] {
  bottom: 74%;
}
.scatterplot ul li[data-cssplot-y="75"] {
  bottom: 75%;
}
.scatterplot ul li[data-cssplot-y="76"] {
  bottom: 76%;
}
.scatterplot ul li[data-cssplot-y="77"] {
  bottom: 77%;
}
.scatterplot ul li[data-cssplot-y="78"] {
  bottom: 78%;
}
.scatterplot ul li[data-cssplot-y="79"] {
  bottom: 79%;
}
.scatterplot ul li[data-cssplot-y="80"] {
  bottom: 80%;
}
.scatterplot ul li[data-cssplot-y="81"] {
  bottom: 81%;
}
.scatterplot ul li[data-cssplot-y="82"] {
  bottom: 82%;
}
.scatterplot ul li[data-cssplot-y="83"] {
  bottom: 83%;
}
.scatterplot ul li[data-cssplot-y="84"] {
  bottom: 84%;
}
.scatterplot ul li[data-cssplot-y="85"] {
  bottom: 85%;
}
.scatterplot ul li[data-cssplot-y="86"] {
  bottom: 86%;
}
.scatterplot ul li[data-cssplot-y="87"] {
  bottom: 87%;
}
.scatterplot ul li[data-cssplot-y="88"] {
  bottom: 88%;
}
.scatterplot ul li[data-cssplot-y="89"] {
  bottom: 89%;
}
.scatterplot ul li[data-cssplot-y="90"] {
  bottom: 90%;
}
.scatterplot ul li[data-cssplot-y="91"] {
  bottom: 91%;
}
.scatterplot ul li[data-cssplot-y="92"] {
  bottom: 92%;
}
.scatterplot ul li[data-cssplot-y="93"] {
  bottom: 93%;
}
.scatterplot ul li[data-cssplot-y="94"] {
  bottom: 94%;
}
.scatterplot ul li[data-cssplot-y="95"] {
  bottom: 95%;
}
.scatterplot ul li[data-cssplot-y="96"] {
  bottom: 96%;
}
.scatterplot ul li[data-cssplot-y="97"] {
  bottom: 97%;
}
.scatterplot ul li[data-cssplot-y="98"] {
  bottom: 98%;
}
.scatterplot ul li[data-cssplot-y="99"] {
  bottom: 99%;
}
.scatterplot ul li[data-cssplot-y="100"] {
  bottom: 100%;
}
.scatterplot ul li {
  position: absolute;
  height: 0;
  width: 0;
  list-style: none;
  overflow: hidden;
  border: 6px solid #3498db;
  border-radius: 100%;
}
